/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: rgb(126, 204, 235);
    --font-cabrera: 1.2rem
}

html {
    background-color: var(--color-primary);
    font-size: var(--font-cabrera);
}